.Burger {
    width: 100%;
    margin: 25px;
    height: 300px;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

@media (min-width: 800px){
    .Burger {
        width: 500px;
        margin: 20px auto;
    }

}